@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

*{
    font-family: 'Georama', sans-serif;
}

table{
    width: 100%;
    border-collapse: collapse;
}
body{
    background: rgba(195, 34, 174, 0.884);
background: linear-gradient(0deg, rgba(195,34,173,1) 0%, rgba(255,149,0,1) 100%);
background-position: center;
background-size: cover;
background-attachment: fixed;
margin: 0;
padding: 0;
}
.contenedor-80s{
    background-image: url(imagenes/wallpaperflare.com_wallpaper\(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 300px;
    margin: bottom 60px;
}
.texto-80s{
    position:absolute;
    bottom: 60px;
    left: 60px;
    
}
.texto-80s h1{
    color: darkmagenta;
    text-shadow: rgb(245, 245, 245);
    font-family: 'Courier New', Courier, monospace;
}

table{
    background-color: deeppink;
    background: rgb(195,34,173);
    background: rgba(191, 5, 238, 0.87);
    background: rgb(255,149,0);
    background: linear-gradient(293deg, rgba(255,149,0,1) 20%, rgba(255,66,24,1) 47%, rgba(195,34,173,1) 100%);
}

th{
    width: 7px;
    border-bottom: 2px solid rgba(253, 236, 0, 0.836);
    background: rgb(157,3,203);
    background: rgb(255, 0, 221);
    padding: 1em;
    color: white;
    
}

tr:hover{
    background: rgb(255,149,0);
    background: linear-gradient(293deg, rgba(255,149,0,1) 20%, rgba(32,24,255,1) 47%, rgba(195,34,173,1) 83%);
}

.alineacion-de-imagen{
    width: 15px;
   }
.centrado{
    text-align: center;
    color:rgb(255, 255, 255);
   }
.portada img{
    width: 6em;
    height: 6em;
}
footer p{
    text-align: center;
}
main p{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    margin: 2em;
    text-align: center;
}
#alineado{
    margin: 2em auto;    
    width: max-content;
}

h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
}
#lyrics{
    background: rgb(255,149,0);
    background: linear-gradient(67deg, rgba(255,149,0,1) 74%, rgba(32,24,255,1) 78%, rgba(162,32,189,1) 82%, rgba(195,34,173,1) 83%); 
    width: max-content;
    margin: auto;
    padding: 2em 0;
}
#back-80s{
    margin: 50px 50px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    background: rgb(193,0,255);
    background: linear-gradient(315deg, rgba(193,0,255,1) 19%, rgba(255,149,0,1) 41%, rgba(32,24,255,1) 57%, rgba(223,210,28,1) 74%, rgba(162,32,189,1) 82%, rgba(195,34,173,1) 83%); 
}